@using Bricons.Areas.Identity.Data;
@using Bricons.Utilities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<div class="main">

    <div class="section-1">
        <div class="texto">
            <span class="text-bricode">BRICONS</span>
            <p class="parrafo-bricode">Tu obra merece los mejores cimientos, merece nuestros ladrillos</p>
        </div>
        <ion-icon class="flecha-abajo" name="arrow-down-outline"></ion-icon>
        <img class="img-1" src="/img/home/home-img1.jpg" alt="img1">
        <img src="/img/home/home-img2.jpg" alt="">
        <img src="/img/home/home-img3.jpg" alt="">
        <img src="/img/home/home-img4.jpg" alt="">
    </div>

    <div class="seccion2">
        <div class="parte1">
            <h1>BRICONS</h1>
            <div class="linea"></div>
            <div class="linea"></div>
            <h2>Construye tus sueños, ladrillo a ladrillo, con nuestra calidad incomparable.</h2>
            <p class="parrafo">En nuestra ladriería, te brindamos una atención al cliente excepcional con asesoramiento personalizado, productos de calidad y un servicio inigualable que supera tus expectativas.</p>
            <p class="parrafo">Entendemos que cada cliente y proyecto son únicos. Nuestro equipo amigable está aquí para escuchar tus necesidades y ofrecerte recomendaciones expertas, garantizando los mejores ladrillos para construcciones duraderas y estéticas.</p>


            <button>Realizar Pedido!</button>
        </div>
        <div class="parte2">
            <img src="/img/home/section2-img.jpg" alt="">
        </div>
    </div>

</div>
<script>

    const seccion1 = document.querySelector(".section-1");
    const img1 = document.querySelector(".img-1");
    const imagenes = document.querySelectorAll(".section-1 img");
    const init = () => {
        seccion1.style.height = img1.height + "px";
        zoom();
    }

    /*Imagenes */

    let imgAnterior = 0;
    let imgActual = 0;
    let imgSiguiente = 1;
    const zoom = () => {
        imagenes[imgAnterior].style.transition = "none";
        imagenes[imgAnterior].style.transform = "scale(1)";
        imagenes[imgAnterior].style.zIndex = "0";
        imagenes[imgAnterior].style.opacity = "1";
        imagenes[imgActual].style.zIndex = "10";
        imagenes[imgSiguiente].style.zIndex = "9";

        if (imgActual == 0) {
            let num = 10;
            for (let i = 0; i < imagenes.length; i++) {
                imagenes[i].style.zIndex = num;
                num--;
            }
        }




        imagenes[imgActual].style.transition = "transform 10s ease, opacity 2s ease";
        imagenes[imgActual].style.transform = "scale(1.5)";
        setTimeout(() => {

            desaparecer();
        }, 6000);
    };
    const desaparecer = () => {
        imagenes[imgActual].style.opacity = "0";


        setTimeout(() => {
            imgAnterior = imgActual;
            imgActual++;
            imgSiguiente = imgActual + 1;
            if (imgActual > imagenes.length - 1) {
                imgActual = 0;

            }
            if (imgSiguiente > imagenes.length - 1) {
                imgSiguiente = 0;

            }

            zoom();
        }, 1700);
    };

    /*Flecha abajo*/
    const flechaAb = document.querySelector(".flecha-abajo");

    window.addEventListener("resize", () => {
        seccion1.style.height = img1.height + "px";
    });

    document.addEventListener("DOMContentLoaded", function () {

        init();
    });



</script>