
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cat">
    <div class="section-1">
        <span>NUESTROS PRODUCTOS</span>
        <div class="categorias">
            <a asp-action="Index" asp-route-cat="1">
                
                <div class="img" id="ladrillos-muros">
                    <span>Ladrillos para</span>
                    <span>Muros</span>
                    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                    <img src="/img/Categorias/ImgCategoriaMuros.jpg" alt="">

                </div>
            </a>
            <a asp-action="Index" asp-route-cat="2">
                <div class="img" id="ladrillos-techos">
                    <span>Ladrillos para </span>
                    <span>Techos</span>
                    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                    <img src="/img/Categorias/ImgCategoriaTecho.jpg" alt="">
                </div>
            </a>

        </div>
    </div>
</div>





