


.conti {

    max-width: 1200px;
    margin: 150px auto;
    padding: 0 15px;

    
}

    .conti .container {
        max-width: 1200px;
        margin: 15px auto;
        padding: 0 15px;
        display:flex;
        flex-direction: row;
     
    }

    .conti .container-cot {
        margin-top: 20px;
        display: flex;
        width: 100%;
        background-color: #F9F9F9;
    }

    .conti .contenedor-tabla {
        width: 100%;
        padding: 5px;
        background-color: white;
        background-color: #FFF;
        box-shadow: 0 0 8px #DEDEDE;
        border-radius: 20px;
        padding: 15px 25px;
    }

        .conti .contenedor-tabla h2 {
            font-size: 29px;
            margin-bottom: 8px;
        }

        .conti .contenedor-tabla a {
            color: black;
            font-weight: 600;
            margin-bottom: 8px;
            padding: 5px;
        }

        .conti .contenedor-tabla .table {
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
        }

        .conti .contenedor-tabla .encabezado {
            font-size: 22px;
            font-weight: 600;
            width: 100%;
            height: 32px;
            border-bottom: 1.3px solid black;
            position: relative;
        }

            .conti .contenedor-tabla .encabezado .span2 {
                position: absolute;
                left: 82%;
            }

            .conti .contenedor-tabla .encabezado .span1 {
                position: absolute;
                left: 30%;
            }

.conti table {
    width: 100%;
    border-collapse: collapse;
}

    .conti table tr {
        border-bottom: 0.5px solid #8C8282;
    }

    .conti table td {
        text-align: center;
    }

    .conti table .nombre-producto {
        text-align: left;
        padding-left: 10px;
    }

    .conti table img {
        width: 80px;
    }

    .conti .container .cuadros {
     
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30px;
        font-weight: 600;
        color: black;
    }

        .conti .container .cuadros .cuadro {
            width: 33.3%;
            height: 100%;
            border-left: 2px solid #C5C5C5;
            border-right: 2px solid #C5C5C5;
            border-top: none;
            border-bottom: none;
            display:flex;
            justify-content:center;
            align-items:center;
        }

        .conti .container .cuadros .plus-left{
            border:none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: font-size 0.1s ease;
            font-size:10px;
        }
        .conti .container .cuadros .plus-right {
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: font-size 0.1s ease;
            font-size: 15px;
        }
        .conti .container .cuadros .cuadroCAN {
            border: 2px solid #C5C5C5;
            width:80px;
        }
            .conti .container .cuadros .plus-right:hover {
                cursor: pointer;
                font-size: 25px;
            }

    .conti .container .cantidad {
        width: 120px;
    }

    /**/
    .conti .cotizacion {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        align-items: center;
        margin: 0 20px;
        padding-top: 30px;
        background-color: white;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 0 8px #DEDEDE;
    }

        .conti .cotizacion P {
         
            margin-bottom: 15px;
            padding: 0 15px;
        }

    .conti .CotBTN button {
        border: none;
        background-color: #E28762;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 17px 17px 17px 5px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid #965A41;
    }

        .conti .CotBTN button:hover {
            background-color: #5E3327;
            color:white;
        }

    .conti .CotBTNbutton span {
        font-size: 16px;
        font-weight: 900;
    }

    .conti .CotBTN button ion-icon {
        font-size: 25px;
        margin-right: 5px;
    }
.conti .CotBTN {
    display:flex;
    gap:15px;   
}

@media screen and (max-width:904px) {
    .conti .container {
        flex-direction: column;
    }

    .conti .contenedor-tabla {
        width: 100%;
    }

    .conti .cotizacion {
        width: 100%;
        margin: 15px auto;
        height: 230px;
    }

    .conti .container {
        margin: 0 15px;
    }

    .conti .contenedor-tabla .encabezado .span2 {
        left: 85%;
    }

    .conti .contenedor-tabla .encabezado .span1 {
        left: 26%;
    }
}

@media screen and (max-width:714px) {
    .conti .contenedor-tabla .encabezado .span2 {
        left: 78%;
    }
}

@media screen and (max-width:520px) {
    .conti table img {
        width: 50px;
    }

    .conti .contenedor-tabla h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .conti .contenedor-tabla .table {
        height: 300px;
    }

    .conti .cotizacion {
        width: 100%;
        margin-top: 30px;
    }

    .conti .contenedor-tabla .encabezado {
        height: 25px;
        font-size: 18px;
    }

        .conti .contenedor-tabla .encabezado .span2 {
            left: 70%;
        }

        .conti .contenedor-tabla .encabezado .span1 {
            left: 20%;
        }
}


/*Tabla*/

