@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --background-color: rgb(255,255,255);
    --color-principal: rgb(36, 76, 107);
    --color-texto: rgb(0,0,0);
    --color-hover: rgb(85, 202, 189);
    --color-titulo: rgb(234, 217, 200);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
}
/*Buscador*/
header .background {
    background-color: rgb(0, 0, 0,0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 150;
    display: none;
}

.contenedor-buscador {
    border: 1px solid rgba(255, 255, 255, 0.7); /* Borde de 1 píxel de grosor, color sutil */
    border-right: none; /* Quita el borde en la parte superior */
    border-bottom: none;
    overflow: hidden;
    border-radius: 8px;
    width: 500px;
    min-height: 150px;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #181822;
    color: white;
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: space-between;
}

    .contenedor-buscador .buscador {
        display: flex;
        height: 55px;
        margin: 12px 12px 0;
    }

        .contenedor-buscador .buscador .search {
            border: 2px solid var(--color-hover);
            border-radius: 8px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #000;
            overflow: hidden;
        }

    .contenedor-buscador .search ion-icon {
        min-width: 28px;
        font-size: 28px;
        margin: 0 5px;
        color: var(--color-hover);
    }

#equis-input {
    cursor: pointer;
    display: none;
}

.contenedor-buscador .search input {
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
}

#btn-cerrar {
    font-size: 17px;
    color: var(--color-hover );
    margin: auto 8px;
    cursor: pointer;
    display: none;
}

header .contenedor-buscador .resultados {
    min-height: 100px;
    font-size: 13px;
    color: #9494a3;
    display: flex;
/*    justify-content: center;*/
   align-items: center;/*Aquiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/
    padding: 15px;
    height: 100%;
    flex-direction:column;
}
header .result {
    width:100%;
    height:75px;

    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}
    header .result p {

        color: var(--color-hover);
        font-size:14px;
        font-weight:600;
        margin-bottom:2px;
    }
    header .result a {
        border: 1px solid #767280;
        border-radius: 7px;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        padding: 0 15px;
        text-decoration:none

    }
    header .result .prdo:hover {
        background-color: #3D9289;
    }

    header .result .prdo img{
        width:50px;
        
    }
    header .result .prdo span {
        font-size:14px;
        font-weight:600;
        color:white;    
    }








header .contenedor-buscador .footer {
    background-color: #2B2F38;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
}

header .contenedor-buscador .footer-contenido {
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .footer-contenido span {
    color: white;
    font-weight: 600;
    font-size: 14px;
}

header .footer-contenido ion-icon {
    color: var(--color-hover);
    font-size: 19px;
}

header .carretilla-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
}

    header .carretilla-container .numero-productos {
        position: absolute;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--color-principal);
        width: 25px;
        font-weight: 600;
        background-color: white;
        border-radius: 50%;
        right: 0;
        top: 0;
    }

svg {
    fill: var(--color-principal);
    cursor: pointer;
    transition: color 0.2s ease,transform 0.2s ease;
    /* transform: rotate(30deg); */
}

    svg:hover {
        fill: var(--color-hover);
    }

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*Encabezado*/
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 115px;
    color: var(--color-texto);
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}


    header .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }

    /*LOGO*/
    header .logo {
        display: flex;
        align-items: center;
    }

        header .logo img {
            width: 60px;
        }

        header .logo .logotipo {
            width: 180px;
        }

    /*Menú opciones*/
    header .menu-opciones {
        background-color: var(--background-color);
        height: auto;
    }

        header .menu-opciones ul {
            display: flex;
            flex-direction: row;
        }

        header .menu-opciones li {
            list-style: none;
            margin: 15px;
        }

        header .menu-opciones a {
            font-weight: 400;
            font-size: 18px;
            color: var(--color-texto);
            text-decoration: none;
            transition: color 0.2s ease, margin-bottom 0.5 ease;
            padding: 5px;
            background-color: none;
        }

            header .menu-opciones a:hover {
                background-color: var(--color-principal);
                color: white;
            }

    /*Controles usuario*/
    header .controles-usuario {
        display: flex;
        gap: 20px;
        align-items: center;
        order: 1;
    }

        header .controles-usuario ion-icon {
            font-size: 30px;
            cursor: pointer;
            color: var(--color-principal);
        }

            header .controles-usuario ion-icon:hover {
                color: var(--color-hover);
            }

#btn-sign-up {
    border: none;
    cursor: pointer;
    color: var(--background-color);

    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 
}
        #btn-sign-up ion-icon{
               font-size: 40px;
        }

        #btn-sign-up:hover {
            color: var(--color-hover);
        }

    header #btn-sign {
        border: none;
        cursor: pointer;
        width: 130px;
        height: 40px;
        border-radius: 10px;
        font-weight: 600;
        background-color: var(--color-principal);
        color: white;
        font-size: 15px;
        text-decoration:none;
        display:flex;
        justify-content:center;
        align-items:center;
    }

        header #btn-sign:hover {
            background-color: var(--color-hover);
        }

    header #btn-menu {
        display: none;
    }

 /*   header #home {
        color: white;
        background-color: var(--color-principal);
    }
*/

/*Main*/
main {
    margin-top: 115px;
    width: 100%;
}


/*Usuario*/
header .user-info {
    position: relative;
    z-index: 252;
}
#fondo{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    height:100vh;
    background-color:transparent;
    z-index:-10;
    display:none;
}
#fondo.activo {
    display:block;
}
header .user-info-contenedor {
    z-index: 255;
    position: absolute;
    left: -310px;
    top: 40px;
    background-color: #282A2C;
    border-radius: 20px;
    width: 350px;
    color: white;
    padding: 15px 5px;
    display:none;
}
header .user-info-contenedor.activo {
    display:block;
}

header .user-info-contenedor .p1{
    display:flex;
  
    align-items:center;    
}
header .user-info-contenedor .p1 {
        display: flex;
        align-items: center;
        padding:0 10px;
        position:relative;
}
header .user-info-contenedor .email {
       
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0 10px;
        font-size:13px;
}
header .user-info-contenedor .equis {
        width: 10%;
        position:absolute;
        font-size:30px;
        color:white;
        right:0
}

header .user-info-contenedor .p2 {
      
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin:5px;
        gap:10px;
}

 header .user-info-contenedor .img-perfil {
        width: 50px;
 
 }
    header .user-info-contenedor .p3 {
        
        display:flex;
        align-items:center;
        justify-content:center;
    }
    header .user-info-contenedor .p3 .edit{
        border: 2px solid #696A6C;
        padding:5px 17px;
        border-radius:10px;

        color:#50A9D0;

    }


    header .user-info-contenedor .p4 {
 
        display:flex;
        justify-content:center;
        align-items:center;
    }
    header .user-info-contenedor .p4 {
   
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 15px;
        color:white;
    }
    
    
    header .user-info-contenedor .p41 {
        display:flex;
    
        justify-content:center;
        align-items:center;
        width:100%;
        height:50px;
        border-radius:0px 20px 20px 0;
        background-color:black;
        color:white;
        cursor:pointer;
        gap:5px;
        overflow:hidden;
           
    }
        header .user-info-contenedor .p41:hover {
            background-color: #37393B;
        }

        header .user-info-contenedor .p41 ion-icon {
            color: white;
        }
        header .user-info-contenedor .p41 button {
            background-color: inherit;
            border:none;
            color:white;
            font-size:17px;
            width:100%;
            height:100%;
            display:flex;
            justify-content:center;
            align-items:center;
            cursor:pointer;
        }
    header .user-info-contenedor .p42 {
     
        border-radius: 20px 0px 0px 20px;
    }
    header .user-info-contenedor .p4 a {
        text-decoration:none;
        color:white;
    }
    header .user-info-contenedor .p5 {
       
        padding:0 15px;

    }
        header .user-info-contenedor .p5 {
           
            font-size: 12px;
            display:flex;
            justify-content:space-between;
            flex-direction: row;
          
        }
    header .user-info-contenedor .p5 a{

        text-decoration:none;
        color:white;
    }
        





/*Responsive*/
@media (max-width: 865px) {
    header .controles-usuario {
        gap: 10px;
    }
    /* header .controles-usuario ion-icon{
        font-size: 25px;
    }
    svg{
        width: 27px;
        height: 27px;
    } */
    header .logo .logotipo {
        width: 100px;
    }

    header {
        height: 80px;
    }

    main {
        margin-top: 80px;
    }

    header #btn-menu {
        display: block;
    }

    header .menu-opciones {
        height: 0;
        border-bottom: 2px solid var(--color-principal);
        overflow: hidden;
        transition: height 0.5s ease;
    }

        header .menu-opciones.mostrar {
            height: 280px;
        }

        header .menu-opciones.min {
            height: calc(100vh - 80px);
            overflow-y: auto;
        }

        header .menu-opciones ul {
            flex-direction: column;
            align-items: center;
        }

    #btn-sign-up ion-icon{

       color:var(--color-principal);
    }

    header #home {
        border-bottom: 2px solid var(--color-principal);
        color: var(--color-texto);
        background-color: transparent;
    }

    header .menu-opciones a {
        background-color: transparent;
        color: var(--color-texto);
    }

        header .menu-opciones a:hover {
            border-bottom: 2px solid var(--color-principal);
            color: var(--color-texto);
            background-color: transparent;
        }
}


@media (max-width: 770px) {
    header .contenedor-buscador {
        width: 100%;
        height: 100vh;
        margin: 0;
        justify-content: space-between;
        border: none;
        border-radius: 0;
    }

    #btn-cerrar {
        display: block;
    }
}
