@model List<CotizacionProducto>
@{
    ViewData["Title"] = "MostrarLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = ViewBag.Usuario as Usuario;
}
@section Styles
    {
    <style>


        .contenedorr {
            width: 100%;
            height: 100vh;
            background-color: #F8F8F8;
            margin-top: 0px;
            padding-top: 50px;
            font-family: Arial, sans-serif;
        }

        .table-coti {
            /* Por ejemplo, quita el espacio entre las celdas de la tabla */
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
        }


        .header-tabla {
            width: 100%;
        }

        .cuerpo-tabla {
            border-bottom: 4px solid #214C6B;
            max-height: 400px;
            overflow-y: auto;
            width: 100%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        th {
            border: none;
            background-color: #214C6B;
            color: white;
            width: 100%;
            height: 100%;
            text-align: left;
            padding: 5px 8px;
        }

        td {
            border: none;
            color: black;
            width: 100%;
            text-align: left;
            padding: 15px;
        }
        .cuerpo-tabla tr {
            border-bottom: 2px solid #D4D4D4;
        }
        /*Sxroll*/
        ::-webkit-scrollbar {
            width: 5px;
        }
        /* Fondo del scrollbar */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Color del thumb (la parte desplazable) del scrollbar */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
            /* Hover del thumb del scrollbar */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        .primera {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            overflow: hidden;
            background-color: #214C6B;
        }
        .info{
            width:90%;
            margin:0 auto;
        }
    </style>
}
<div class="contenedorr">

    <div class="info">
        <div>
            <span>Nombre</span>
            <input type="date" disabled/>
        </div>
        <div>
            <span>Fecha de Entrega</span>
            <input type="date" disabled/>

        </div>
        <div >
            <span>Fecha de entrega</span>
            <label>Total</label>
            <input type="number" disabled/>
        </div>
        <div>
            <input type="submit" value="Confirmar Cotización" />
        </div>
    </div>

    <div class="table-coti">

        <h2>Productos</h2>

        <div class="header-tabla">
            <table>
                <thead>
                    <tr class="primera">
                        <th></th>
                        <th>Nombre del producto</th>
                        <th>Cantidad</th>
                        <th>Monto</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="cuerpo-tabla">
            <table>
                <tbody>
                    @foreach (var cotProduc in Model)
                    {
                        <tr>
                            <td style="text-align:center">  <img style="width:40px" src="@cotProduc.Producto.Imagen" alt=""> </td>
                            <td>@cotProduc.Producto.NombreProducto</td>
                            <td>@cotProduc.Cantidad</td>
                            <td>@(cotProduc.Cantidad*cotProduc.Producto.Precio)</td>
                        </tr>
                    }
                </tbody>



            </table>

        </div>

    </div>
</div>