@using Bricons.Utilities
@using Microsoft.AspNetCore.Identity
@using Bricons.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bricons</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bricons.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/encabezado.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categoriaP.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/productos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/detalleProducto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cotizacion.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="contenedor-buscador">
            <div class="buscador">
                <div class="search">
                    <ion-icon name="search-outline"></ion-icon>
                    <input id="input-buscador" type="text" placeholder="Buscar Producto">
                   
                    <ion-icon id="equis-input" name="close-outline"></ion-icon>
                </div>
                <span id="btn-cerrar">Cerrar</span>
            </div>
            <div class="resultados" id="miRes">
            <span>No hay resultados</span>  
             @*  <div class="result">
                    <p class="categoriaP">Categoria</p>
                    <a class="prdo" asp-controller="Productos" asp-action="Details" asp-route-id="2">
                        <img src="" alt="hola"/>
                        <span>Nombre del produtos</span>
                    </a>
                </div>   *@
            </div>
            <div class="footer">
                <div class="footer-contenido">
                    <ion-icon name="logo-bitcoin"></ion-icon>
                    <span>BRICONS</span>
                </div>
            </div>
        </div>
        <div class="background"></div>

        <div class="contenedor">
            <div class="logo">

                <img class="logotipo" src="/img/logotipo.png" alt="">
            </div>

            <div class="menu-opciones">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index" id="home">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Productos" asp-action="Categorias">Productos</a>
                    </li>
                </ul>
            </div>

            <div class="controles-usuario">
                <ion-icon class="btn-abrir" name="search"></ion-icon>
                <a class="carretilla-container"  >
                    <svg class="carretilla" version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="33" height="33" viewBox="0 0 512.000000 512.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                           fill="rgb(0, 176, 157);" stroke="none">
                            <path d="M1207 4106 c-49 -18 -74 -41 -99 -90 -29 -57 -22 -141 16 -191 33
                   -43 95 -74 148 -75 26 0 38 -5 42 -17 3 -10 32 -141 65 -291 63 -288 77 -326
                   134 -361 47 -28 1865 -628 1929 -636 69 -9 165 14 228 55 25 16 313 304 640
                   640 553 568 596 610 627 610 38 0 98 23 127 48 28 26 56 92 56 137 0 60 -32
                   119 -81 152 l-43 28 -1875 2 c-1565 2 -1882 0 -1914 -11z" />
                            <path d="M71 3282 c-58 -31 -87 -112 -60 -165 34 -66 30 -64 850 -348 l789
                   -273 0 -580 c0 -629 1 -634 56 -736 35 -64 91 -115 163 -148 45 -21 72 -26
                   136 -26 69 -1 89 3 145 30 36 17 82 48 102 68 20 20 200 224 400 453 200 230
                   370 425 378 434 14 16 36 10 320 -90 l305 -107 2 -65 c2 -97 11 -150 38 -228
                   80 -236 270 -411 515 -477 86 -23 262 -23 350 -1 108 28 238 98 318 172 209
                   194 288 473 212 745 -105 373 -504 602 -880 505 -136 -35 -190 -74 -190 -134
                   1 -68 7 -71 293 -167 243 -81 286 -103 346 -171 59 -66 83 -124 88 -214 7 -95
                   -13 -168 -63 -235 -148 -201 -437 -205 -586 -8 -33 43 -74 132 -65 141 2 2 78
                   -22 168 -53 130 -44 173 -55 207 -51 117 13 194 142 148 250 -26 64 -73 92
                   -253 150 -1594 522 -4147 1347 -4169 1347 -16 0 -45 -8 -63 -18z m2597 -1146
                   c3 -3 -574 -674 -629 -731 l-29 -30 0 496 0 496 327 -114 c180 -63 329 -116
                   331 -117z" />
                        </g>
                    </svg>
                    <span class="numero-productos" id="numero-productos"></span>
                </a>

               @*  <button id="btn-sign-up">INICIAR SESION</button> *@
                <a id="btn-sign-up" asp-area="Identity" asp-page="/Account/Login">
                    <ion-icon name="log-in"></ion-icon>
                </a>
                @*      <a id="btn-sign" asp-area="Identity" asp-page="/Account/Register">REGISTRO</a> *@
                <ion-icon id="btn-menu" name="menu"></ion-icon>
            </div>
        </div>

    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="contenedor">
            <div class="info">
                <div class="logotipo">
                    <img class="imglogo" src="/img/isotipo.png" alt="logoBricons">
                    <span>Bricons</span>
                </div>
                <p>Forjando calidad y confianza en cada ladrillo, somos tu elección para construir un mañana sólido y perdurable</p>
            </div>
            <div class="opciones">
                <div class="opcion">
                    <div class="container">
                        <span class="title">Title</span>
                        <ul>
                            <li><a href="#">Opcion a</a></li>
                            <li><a href="#">Opcion b</a></li>
                            <li><a href="#">Opcion c</a></li>
                            <li><a href="#">Opcion d</a></li>
                        </ul>
                    </div>
                </div>

                <div class="opcion">
                    <div class="container">
                        <span class="title">Title</span>
                        <ul>
                            <li><a href="#">Opcion a</a></li>
                            <li><a href="#">Opcion b</a></li>
                            <li><a href="#">Opcion c</a></li>
                            <li><a href="#">Opcion d</a></li>
                        </ul>
                    </div>
                </div>
                <div class="opcion">
                    <div class="container">
                        <span class="title">Title</span>
                        <ul>
                            <li><a href="#">Opcion a</a></li>
                            <li><a href="#">Opcion b</a></li>
                            <li><a href="#">Opcion c</a></li>
                            <li><a href="#">Opcion d</a></li>
                        </ul>
                    </div>
                </div>
                <div class="opcion">
                    <div class="container">
                        <span class="title">Title</span>
                        <ul>
                            <li><a href="#">Opcion a</a></li>
                            <li><a href="#">Opcion b</a></li>
                            <li><a href="#">Opcion c</a></li>
                            <li><a href="#">Opcion d</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/js/home.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   <script src="~/js/encabezado.js" asp-append-version="true"></script>
    <script src="~/js/productos.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
